---
import ResponsiveImage from './ResponsiveImage.astro';

interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---
<p>
  <ResponsiveImage
    src={src}
    alt={alt}
    widths={[480, 768, 1024, 1280]}
    sizes="(max-width: 960px) 100vw, 780px"
    loading="lazy"
    class="responsive-image responsive-image--frame-fill"
  />
</p>
